/*stile div barra superiore*/

/* Elenco delle classi CSS in questo file:

 * .intestazione - div della barra superiore
 * .title-container - contenitore del titolo
 * .menu-button - pulsante del menu
 * .menu-button:hover - hover del menu
 * .title - titolo della barra superiore
 * .info - info della barra superiore
 * .tooltip - tooltip della barra superiore
 * .tooltip:hover - hover del tooltip
 * .info:hover - hover dell'info
 
 */



/* SEZIONE BARRA SUPERIORE */

.intestazione-gamepage{
    display: block;
    position: relative;
    width: 100vw;
    height: 20vh;
    z-index: 10000;
}

/*stile container del titolo*/

.title-container-gamepage {
    position: relative;
    width: 100%;
    min-height: 15vh; /* Cambia height con min-height per maggiore flessibilità */
    border: 0.125rem solid black;
    margin: 0;
    padding: 0;
    box-shadow: 0 0.25rem 1rem rgba(1, 0, 0, 0.5);
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
    background: var(--background-sfumato-violaceo);
}

/*stile bottone menù*/
.menu-button {
    padding: 2% 2%;
    font-size: 1rem;
    border: none;
    width: 0.5%;
    height: 0.5%;
    background-color: transparent;
    background-image: url(../images/menu.png);
    background-size: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: absolute;
    left: 5vw;
}

/*hover bottone menù*/
.menu-button:hover {
    transform: scale(1.1);
}

/*stile titolo*/
.title {
    text-align: center;
    font-size: calc(4vh + 5vw);
    font-weight: bold;
    margin: 0;
    color: var(--color-crema);
    font-family: 'Georgia', serif;
    letter-spacing: 0.125rem;
    background: linear-gradient(to right, #efe0c4, #e8c481);
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 0.625rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.7);
    cursor: pointer;
}