/* Classi CSS riguardanti la condizione di cattura e i suoi elementi */

.condition-container {
    position: absolute;
    left: 50%;
    top: 1%;
    transform: translateX(-50%);
    width: 50%;
    height: 10%;
    background: var(--background-sfumato-violaceo);
    text-align: center;
    vertical-align: middle;
    border: calc(0.1vh + 0.1vw) solid var(--color-crema);
}

.condition-title {
    margin: 0;
    font-size: 2vw;
    color: var(--color-crema);
    line-height: 1.5;
    font-weight: bold;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.timer-text {
    z-index: 5;
    font-size: 20%;
    line-height: 1.5;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.swal-text{
    font-size: calc(0.7vh + 0.7vw);
}

.swal-title{
    font-size: calc(0.7vh + 0.7vw);
    font-weight: bold;
}

