/* Elenco delle classi CSS in questo file:

  * .foto_draftcell - cella per l'immagine del calciatore
 * .info_draftcell - cella per le informazioni del calciatore
 * .santino-container - contenitore per l'immagine del calciatore
 * .santino - immagine del calciatore
 * .santino:hover - hover dell'immagine del calciatore
 * .nome-giocatore - nome del calciatore
 */


 .sezione_sx, .sezione_dx{
    z-index: 3;
    position: absolute;
    height: 100%;
    width: 23%;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 3%;
}

.sezione_sx{
    left: 0;   
    
}

.sezione_dx{
    right: 0;
}

.tabella_draft{
    width: 90%;
    aspect-ratio: 1/1.3;
    border: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3%;
    top: 0;
    
}

/* Stile per le righe con ombre - ora ciascuna riga è un grid element */
.riga_draft {
    transition: all 0.2s ease;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.foto_draftcell {
    background-color: #000000;
    text-align: center;
    justify-content: center;
    border: 2px solid black;
    position: relative;
    padding: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    height: 100%;
    margin:0;
    width: 30%;
    z-index: 1001;
}

.info_draftcell {
    text-align: center;
    justify-content: center;
    border: 2px solid black;
    border-left: 0;
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    z-index: 1001;
}

/* immagine calciatore */
.santino-dx, .santino-sx {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    transition: transform 0.3s ease;
    object-fit: cover;
    cursor: grab;
    z-index: 1002;
}

.santino-dx:hover, .santino-sx:hover {
    transform: scale(1.05);
}

.statistiche-draft{
    background: #c1c1c1;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 33vh;
    border: 2px solid black;
    border-radius: 10px;
    padding-bottom: 30%;
}

.freccia-sinistra{
    position: absolute;
    top: 48%;
    right: 0;
    width: 3%;
}

.freccia-destra{
    position: absolute;
    top: 48%;
    left: 0;
    width: 3%;
}

.sezione-flag{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5%;
    width: 25%;
    height: 15%;
    bottom: 0;
    right: 0;
    z-index: 10000;
}

.sezione-flag img{
    aspect-ratio: 1/1;
    height: 80%;
    object-fit: cover;
}

.flag-rosa{
    font-size: calc(0.7vw + 0.35vh);
    font-family: 'Patrick Hand', cursive;
    padding: 0;
    margin: 0;
}

li{
    font-family: 'Patrick Hand', cursive;
}