/* Elenco delle classi CSS in questo file:

 * .progress-container - contenitore della progress bar
 * .progress-bar - barra di progressione
 * .progress-bar.instant - barra di progressione istantanea
 * .timer-text - testo del timer all'interno della progress bar
 */

.progress-container {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 4%;  /* Aumento leggermente l'altezza */
    background: rgba(0, 0, 0, 0.5);  /* Aggiungo uno sfondo scuro semi-trasparente */
    border: 0.09375rem solid black;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 12;
}

.progress-bar {
    height: 100%;
    width: 100%;  /* Iniziamo al 100% */
    background-color: var(--color-crema);
    transition: width 1s linear;
    position: relative;
}

/* Classe per rimuovere la transizione quando la barra si riempie */
.progress-bar.instant {
    transition: none;
}

/* Stile per il timer all'interno della progress bar */
.timer-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 3vh;  /* Aumento dimensione font */
    font-weight: bold;
    z-index: 3;  /* Sopra la barra di progresso */
    margin: 0;
    padding: 0;
    pointer-events: none;
    width: 100%;
    text-align: center;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.8);  /* Aggiungo un'ombra per migliorare leggibilità */
}

/* Stile per il timer quando è quasi scaduto */
.timer-text.warning {
    color: red;
    animation: pulse 1s infinite alternate;  /* Effetto pulsante */
}

/* Keyframes per l'effetto pulsante */
@keyframes pulse {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.6;
    }
}