.tunnel-dx, .tunnel-sx {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 17.5%;
    height: 100%;
    overflow: hidden;
}

.tunnel-content-dx, .tunnel-content-sx {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 97%;
    overflow-y: auto;
    padding: 5%;
}

.tunnel-content-dx::-webkit-scrollbar {
    width: 0.75vw;
}

.tunnel-content-sx::-webkit-scrollbar {
    width: 0.75vw;
}

.tunnel-content-sx::-webkit-scrollbar-track {
    background: #848484;
}

.tunnel-content-dx::-webkit-scrollbar-track {
    background: #000000;
}

.tunnel-content-sx::-webkit-scrollbar-thumb {
    background: #b9b8b8;
    border-radius: 10px;
}

.tunnel-content-dx::-webkit-scrollbar-thumb {
    background: #393939;
    border-radius: 10px;
}

.tunnel-dx {
    right: 5.3%;
    background-color: rgba(0, 0, 0, 0.4);
}

.tunnel-sx {
    left: 5.3%;
    background-color: rgba(255, 255, 255, 0.4);
}

.div-log{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 10vh;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 auto;
    opacity: 1;
    margin-top: 5%;
}

.log-top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 40%;
    gap: 5%;
    border-bottom: 1px solid black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: (82 82 82 / 29%);
}

.log-top img{
    aspect-ratio: 1/1;
    object-fit: contain;
    height: 100%;
    border-radius: 10px;
}

.log-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 30%;
    gap: 5%;
}

.div-log p{
    font-size: calc(0.1vh + 1vw);
    font-weight: bold;
    margin: 0;
    text-decoration: none;
    text-align: center;
    background: transparent;
}
