.users-container {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1%;
    height: 10vh;
    width: 20vw;
    margin-top: 15vw;
    justify-content: center;
    align-items: center;
}

.game-username{
    position: relative;
    color: aliceblue;
    font-size: calc(1vw + 1vh);
}

.versus{
    height: 100%;
    object-fit: contain;
    filter: var(--color-crema);
}