
/* Elenco delle classi CSS in questo file:

 * .card-container - container delle card
 * .card - card
 * .card:hover - hover della card
 * .card img - immagine della card
 * .card h2 - testo della card
 */

body {
    background: linear-gradient(to right, #0f002d, #2c0182, #3a0ca3, #7209b7);
    margin: 0;
    padding: 0;
    height: 100vh;
    overscroll-behavior: none;
}

.card-container {
    height:50%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: center;
    align-content: center;
    padding: 5%;
    margin-top:2%;
}

.card {
    height:90%;
    /* width: 20%; */
    background-color: #447dcd;
    border-radius: 30px;
    border:5px solid #f5deb3;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-decoration: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    aspect-ratio: 3/4;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {  
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

/* 🖼️ Immagine: 85% */
.card img {
    height: 85%;
    width: 100%;
    object-fit: cover;
    border-bottom:5px solid #f5deb3;
}

/* 📝 Testo: 15% e centrato */
.card h2 {
    height: 25%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 450;
    letter-spacing: 0.5px;
    font-size: 2vw;
    color:#f5deb3;
    font-family: 'Georgia', serif;
}


