/* Layout and Container Classes */
.game-container {
    z-index: 1;
    position: relative;
    margin:auto;
    top: 50%;
    width: 85vw;
    height: 95vh;
    border: 6px solid #f5deb3;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(245, 222, 179, 0.6);
    animation: glow 2s infinite alternate;
}

.grid-container {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
}

.background {
    width: 85vw;
    height: 95vh;
    position: center;
    border-radius: 6px;
}

.scacchiera {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    table-layout: fixed;
    border-radius: 10px;
    transition: box-shadow 0.5s ease;
}

.table_draft_dx {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(100%, -50%);
    width: 290px;
    height: 500px;
    border: 1px solid black;
}

.table_draft_sx {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-200%, -50%);
    width: 290px;
    height: 500px;
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
}

td {
    width: 80px;
    height: 80px;
    text-align: center;
    justify-content: center;
    border: 2px solid black;
}

/* Cell Colors and States */
.greencell {
    background-color: rgb(116, 172, 116);
}

.creamcell {
    background-color: #f5deb3;
}

.greencell, .creamcell {
    transition: background-color 0.5s ease;
}

.draftcell {
    background-color: #6b6a6a;
    width: 80px;
    height: 80px;
}

.highlighted {
    background-color: yellow;
}

.verde {
    background-color: green;
}

.crema {
    background-color: #f5deb3;
}

.nero {
    background-color: rgb(63, 63, 63);
}

/* Pieces and Game Elements */
.pedina {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pedina:hover {
    transform: scale(1.1);
}

.torre, .alfiere, .cavallo, .regina, .re, .pedone {
    width: 60px;
    height: 60px;
}

.santino {
    max-width: 80px;
    max-height: 80px;
    width: auto;
    height: auto;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.santino:hover {
    transform: scale(1.04);
}

/* UI Elements */
.intestazione {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 10;
}

.title-container {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    border: 2px solid black;
    box-shadow: 0 4px 80px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right ,#18004d,#3a00af);
}

.menu-button {
    position: absolute;
    left: 20px;
    padding: 20px 20px;
    font-size: 16px;
    border: none;
    background-color: transparent;
    background-image: url(images/menu.png);
    background-size: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.menu-button:hover {
    transform: scale(1.1);
}

.title {
    text-align: center;
    font-size: 85px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #f5deb3;
    font-family: 'Georgia', serif;
    letter-spacing: 2px;
    background: linear-gradient(to right, #efe0c4, #e8c481);
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 10px 2px 5px rgba(0, 0, 0, 0.7);
}

.info {
    width: 30px;
    height: 30px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
}

.tooltip {
    z-index: 1000;
    position: absolute;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    width: 600px;
    text-align: center;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    transform: translateX(-50%);
}

.condition-container {
    position: absolute;
    top: 5.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 5%;
    background: linear-gradient(to right ,#1b014e,#4a01de);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    vertical-align: middle;
    z-index: 2;
    border: 1.5px solid #f5deb3;
}

.condition-title {
    margin: 0;
    font-size: 2.2em;
    color: #d4d3d3;
    line-height: 1.5;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.timer-container {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: glow 2s infinite alternate;
    width: 5%;
    height: 2%;
    background-color: #4a01de;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    vertical-align: middle;
    z-index: 2;
    border: 1.5px solid #f5deb3;
}

/* General Styling */
body {
    min-height: 300vh;
    background: linear-gradient(to right ,#1b014e,#4a01de);
    overscroll-behavior: none;
}

.grid-container, .tooltip, .table_draft_dx, .table_draft_sx, .condition-container, .timer-container {
    box-shadow: 15px 15px 15px rgba(15, 12, 12, 0.5);
}

.no-hover {
    pointer-events: none;
}

/* Progress Bar */
.progress-container {
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    width: 100%;
    background-color: #f5deb3;
    transition: width 1s linear 0s;
}

/* Classe per rimuovere la transizione quando la barra si riempie */
.progress-bar.instant {
    transition: none;
}