.grid-container, .tooltip, .table_draft_dx, .table_draft_sx {
    box-shadow: 15px 5px 15px rgba(0, 0, 0, 0.3);
}

.intestazione {
    display: inline;
    position: relative;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.game-container {
    z-index: 1;
    position: relative;
    margin:auto;
    top: 50%;
    width: 93vw;  /* Imposta la larghezza del campo da calcio */
    height: 93vh; /* Imposta l'altezza del campo da calcio */
    /* border: 10px solid rgb(93, 2, 113); */
    border: 6px solid #f5deb3;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(245, 222, 179, 0.6);
    animation: glow 2s infinite alternate;
} 

.grid-container {
    z-index: 1;
    position: absolute;
    top: 50%;  /* Regola la posizione verticale della tabella */
    left: 50%; /* Regola la posizione orizzontale della tabella */
    transform: translate(-50%, -50%); /* Centra la tabella sopra l'immagine */
    width: 500px;
    height: 500px;
}
.background {
    width: 93vw;  /* Imposta la larghezza del campo da calcio */
    height: 93vh; /* Imposta l'altezza del campo da calcio */
    position: center;
    border-radius: 6px;

}

.title {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin-top: 20px;
    color: #f5deb3;
    text-shadow: 15px 3px 15px rgba(0, 0, 0, 0.3), 0 0 10px rgba(245, 222, 179, 0.3); /* Ombra e bagliore */
    font-family: 'Georgia', serif; /* Font elegante */
    letter-spacing: 2px; /* Spaziatura tra le lettere */
    background: linear-gradient(to right, #f5deb3, #f5deb3);
    
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Effetto gradiente sul testo */
}

.info {
    width: 30px;
    height: 30px;
    position: relative;
    top: 50%;  /* Regola la posizione verticale della tabella */
    left: 50%; /* Regola la posizione orizzontale della tabella */
    transform: translate(-50%, -50%);
}

.tooltip {
    z-index: 1000;
    position: absolute;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    width: 600px;
    text-align: center;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    transform: translateX(-50%);
}

.info-container {
    position: relative;
    display: inline-block;
    top: 50%;  /* Regola la posizione verticale della tabella */
    left: 50%; /* Regola la posizione orizzontale della tabella */
    transform: translate(-50%, -50%);
}

.scacchiera {
    position: absolute;
    top: 50%;  /* Regola la posizione verticale della tabella */
    left: 50%; /* Regola la posizione orizzontale della tabella */
    transform: translate(-50%, -50%); /* Centra la tabella sopra l'immagine */
    width: 500px;
    height: 500px;
}

.greencell {
    background-color: rgb(116, 172, 116);
}

.creamcell {
    background-color: #f5deb3;
}

.greencell, .creamcell {
    transition: background-color 0.3s ease-in-out;
}

.greencell:hover {
    background-color: rgb(107, 155, 107);
}

.creamcell:hover {
    background-color: #e6cda5;
}

.draftcell {
    background-color: #6b6a6a;
    width: 80px;
    height: 80px;
}
.pedina {
    width: 70px;
    height: 70px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pedina:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.santino {
    max-width: 80px;
    max-height: 80px;
    width: auto;
    height: auto;
    position:relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.santino:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.table_draft_dx{
    position: absolute;
    top: 50%;  /* Regola la posizione verticale della tabella */
    left: 50%; /* Regola la posizione orizzontale della tabella */
    transform: translate(100%, -50%); /* Centra la tabella sopra l'immagine */
    width: 290px;
    height: 500px;
    border: 1px solid black;
}

.table_draft_sx{
    position: absolute;
    top: 50%;  /* Regola la posizione verticale della tabella */
    left: 50%; /* Regola la posizione orizzontale della tabella */
    transform: translate(-200%, -50%); /* Centra la tabella sopra l'immagine */
    width: 290px;
    height: 500px;
    border: 1px solid black;
}


table {
    border-collapse: collapse;
    border: 2px solid black;
}

body {
    min-height: 300vh;
    background: linear-gradient(to right ,#1b014e,#4a01de);
    overscroll-behavior: none;
}

td {
    width: 80px;
    height: 80px;
    text-align: center;
    justify-content: center;
    border: 2px solid black;
}


.verde {
    background-color: green;
}


.crema {
    background-color: #f5deb3; /* Colore crema */
}

.nero{
    background-color: rgb(63, 63, 63);
}