/*stile div barra superiore*/

/* Elenco delle classi CSS in questo file:

 * .intestazione - div della barra superiore
 * .title-container - contenitore del titolo
 * .menu-button - pulsante del menu
 * .menu-button:hover - hover del menu
 * .title - titolo della barra superiore
 * .info - info della barra superiore
 * .tooltip - tooltip della barra superiore
 * .tooltip:hover - hover del tooltip
 * .info:hover - hover dell'info
 
 */



/* SEZIONE BARRA SUPERIORE */

.intestazione {
    display: block;
    position: relative;
    width: 100vw;
    height: 40%;
    left: 0;
    right: 0;
}

/*stile container del titolo*/
.title-container {
    position: relative;
    width: 100%;
    height: 15%;
    box-sizing: border-box;
    border: 0.125rem solid black;
    box-shadow: 0 0.25rem 1rem rgba(1, 0, 0, 0.5);
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background-sfumato-violaceo);
}

/*stile bottone menù*/
.menu-button {
    position: absolute;
    left: 1.25rem;
    padding: 2% 2%;
    font-size: 1rem;
    border: none;
    width: 0.5%;
    height: 0.5%;
    background-color: transparent;
    background-image: url(../images/menu.png);
    background-size: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/*hover bottone menù*/
.menu-button:hover {
    transform: scale(1.1);
}

/*stile titolo*/
.title {
    text-align: center;
    font-size: 12vh;
    font-weight: bold;
    margin: 0;
    color: #f5deb3;
    font-family: 'Georgia', serif;
    letter-spacing: 0.125rem;
    background: linear-gradient(to right, #efe0c4, #e8c481);
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 0.625rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.7);
    cursor: pointer;
}





/* SEZIONE INFO */

.info {
    width: 2%;
    height: 2%;
    position: relative;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    cursor: pointer;
}

.tooltip {
    z-index: 1000;
    position: absolute;
    background-color: black;
    color: white;
    border-radius: 0.3125rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    width: 30%;
    height: 80%;
    padding: 1%;
    text-align: center;
    font-size: 90%;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0.9375rem 0.9375rem 0.9375rem rgba(15, 12, 12, 0.5);
}