:root {
    --grid-size: 33.5vw;
}

/* Elenco delle classi CSS in questo file:

 * .start-button - bottone d'inizio
 * .start-button:hover - hover del bottone d'inizio
 */


/*stile bottone d'inizio*/
.gioca-button {
    position: absolute;
    width: 35%;
    height: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(var(--grid-size) * 0.08);
    font-weight: bold;
    font-family: 'Georgia', serif;
    text-align: center;
    color: #030303;
    background: linear-gradient(to right, #44c300, #027a16);
    border: 2px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    z-index: 100;
    transition: all 0.3s ease;
    pointer-events: auto;
}

.random-button {
    width: calc(var(--grid-size) * 0.3);
    height: calc(var(--grid-size) * 0.2);
    font-size: calc(var(--grid-size) * 0.05);
    font-weight: bold;
    margin-top: 10%;
    font-family: 'Georgia', serif;
    text-align: center;
    color: #f5deb3;
    border: 2px solid #000000;
    background: linear-gradient(to right ,#1b014e,#4a01de);
    border-radius: 10px;
    cursor: pointer;
    z-index: 100;
    transition: all 0.3s ease;
}

.pronto-button {
    width: calc(var(--grid-size) * 0.3);
    height: calc(var(--grid-size) * 0.1);
    font-size: calc(var(--grid-size) * 0.05);
    font-weight: bold;
    margin-bottom: 10%;
    font-family: 'Georgia', serif;
    color: #000000;
    text-align: center;
    border: 2px solid #000000;
    background: linear-gradient(to right, #cbcbcb, #a4a4a4);
    border-radius: 10px;
    cursor: pointer;
    z-index: 100;
    transition: all 0.3s ease;
    top: 10%;
}

/*hover bottone d'inizio*/
.gioca-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 0 20px rgba(245, 222, 179, 0.6);
}

/* Aggiungo stile hover per i bottoni pronto */
.pronto-button:hover, .pronto-button:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}
