:root {
    --grid-size: 33.5vw;
}

/* Elenco delle classi CSS in questo file:

 * .start-button - bottone d'inizio
 * .start-button:hover - hover del bottone d'inizio
 */


/*stile bottone d'inizio*/
.gioca-button {
    position: absolute;
    width: 35%;
    height: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(var(--grid-size) * 0.08);
    font-weight: bold;
    font-family: 'Georgia', serif;
    text-align: center;
    color: #030303;
    background: linear-gradient(to right, #44c300, #027a16);
    border: 2px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    z-index: 100;
    transition: all 0.3s ease;
    pointer-events: auto;
}

.pronto-button {
    width: calc(var(--grid-size) * 0.3);
    height: calc(var(--grid-size) * 0.1);
    font-size: calc(var(--grid-size) * 0.05);
    font-weight: bold;
    font-family: 'Georgia', serif;
    text-align: center;
    border: 2px solid #f5deb3;
    border-radius: 10px;
    cursor: pointer;
    z-index: 100;
    transition: all 0.3s ease;
    position: absolute;
    transform: translateY(-50%);
}

.pronto-button.player1 {
    left: 50%;
    background: linear-gradient(to right, #ffffff, #c1c0c0);
    color: #000000;
}

.pronto-button.player2 {
    right: 8%;
    color: #ffffff;
    background: linear-gradient(to right, #333333, #000000);
}

/*hover bottone d'inizio*/
.gioca-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 0 20px rgba(245, 222, 179, 0.6);
}

/* Aggiungo stile hover per i bottoni pronto */
.pronto-button:hover {
    box-shadow: 0 0 20px rgba(245, 222, 179, 0.6);
    transform: scale(1.1);
}