:root {
    --grid-size: 33.5vw;
}

/*stile bottone d'inizio*/
.start-button {
    position: absolute;
    width: calc(var(--grid-size) * 0.3);
    height: calc(var(--grid-size) * 0.1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(var(--grid-size) * 0.05);
    font-weight: bold;
    text-align: center;
    color: #f5deb3;
    background: linear-gradient(to right, #0f002d, #2c0182);
    border: 2px solid #f5deb3;
    border-radius: 10px;
    cursor: pointer;
    z-index: 100;
    transition: all 0.3s ease;
}

/*hover bottone d'inizio*/
.start-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 0 20px rgba(245, 222, 179, 0.6);
}