/*stile root*/
:root {
    --game-width: 90vw;
    --game-height: 90vh;
    --grid-size: 35vw;
    --cell-size: calc(var(--grid-size) / 6);
    --draft-width: calc(var(--grid-size) * 0.58);
    --draft-grid-height: 35.5vw;
    --draft-grid-width: calc(var(--draft-grid-height) * 0.7);
    --draft-cell-height: calc(var(--draft-cell-height) / 3);
    --draft-cell-width: calc(var(var(--draft-cell-width) / 3));

    /* COLORI UTILIZZATI */
    --background-sfumato-violaceo: linear-gradient(to right ,#1b014e,#4a01de);
    --color-verde: rgb(116, 172, 116);
    --color-crema: #f5deb3;
}

/* Elenco delle classi CSS in questo file:

 * table - tabella
 * body - corpo del documento
 * .no-hover - classe per disabilitare il hover
 * .hidden - classe per nascondere un elemento
 * .disabled - classe per disabilitare un elemento
 * .game-not-started - classe per il gioco non iniziato da applicare agli elementi
 */
 

body {
    min-height: 100vh;
    background: var(--background-sfumato-violaceo);
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-hover {
    pointer-events: none;
}

.hidden {
    display: none !important;
}

.disabled {
    pointer-events: none;
    cursor: default;
    filter: grayscale(100%);
    transition: all 1s ease;
}

.game-not-started {
    cursor: default;
    pointer-events: none;
}



/* OMBRE COMUNI */

.game-container, .grid-container, .tooltip, .condition-container, .timer-container, .game-over , .tr-ombrata, .menu-button{
    box-shadow: 0.9375rem 0.9375rem 0.9375rem rgba(15, 12, 12, 0.5);
}

.button{
    box-shadow: 0 0.9375rem 0.9375rem rgba(15, 12, 0, 0.5);
}