/* Elenco delle classi CSS in questo file:

 * .condition-container - contenitore delle condizioni
 * .condition-title - titolo delle condizioni
 * .timer-text - testo del timer
 */

/*stile container condizioni*/
.condition-container {
    position: absolute;
    left: 50%;
    top: 1%;
    transform: translateX(-50%);
    width: 50%;
    height: 10%;
    background: linear-gradient(to right ,#1b014e,#4a01de);
    border-radius: 0.625rem;
    text-align: center;
    vertical-align: middle;
    z-index: 2;
    border: 0.09375rem solid #f5deb3;
    box-shadow: 0.9375rem 0.9375rem 0.9375rem rgba(15, 12, 12, 0.5);
}

/*stile titolo condizioni*/
.condition-title {
    margin: 0;
    font-size: calc(var(--cell-size));
    color: #f5deb3;
    line-height: 1.5;
    font-weight: bold;
    font-size: calc(var(--cell-size)*0.3);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.timer-text {
    z-index: 5;
    margin: 0;
    font-size: 20%;
    line-height: 1.5;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

