:root {
    --grid-size: 31.25vw;
    --draft-grid-height: 35.5vw;
    --draft-grid-width: calc(var(--draft-grid-height) * 0.7);
    --cell-size: calc(var(--grid-size) / 6);
    --draft-cell-height: calc(var(--draft-cell-height) / 3);
    --draft-cell-width: calc(var(var(--draft-cell-width) / 3));
}

/*stile pedine*/
.pedina {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    height: 100%;
}

/*hover sulla pedina attiva*/
.pedina-active:hover {
    transform: scale(1.1);
}

/*classe per le pedine non attive prima di iniziare il gioco*/
.game-not-started .pedina { 
    pointer-events: none;
    cursor: default;
}

.pedina-no-hover {
    pointer-events: none;
    cursor: default;
}

/*stile pedine*/
.torre, .alfiere, .cavallo, .regina, .re, .pedone {
    width: calc(var(--cell-size) * 1.9);
    height: calc(var(--cell-size) * 1.9);
    margin: auto;
    display: block;
    object-fit: contain;
}

/* immagine calciatore */
.santino {
    width: calc(var(--cell-size) * 1.5);
    height: calc(var(--cell-size) * 1.5);
    margin: auto;
    display: block;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    object-fit: contain;
}

.santino:hover {
    transform: scale(1.04);
}

/*nome calciatore*/
.nome-giocatore {
    color: black;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    bottom: -0.9em;
    width: 100%;
}