/* Elenco delle classi CSS in questo file:

 * .div_scelte - div delle scelte
 * .foto_ped_promotion - foto delle pedine
 */

.div_scelte {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(to right, #dadada7c, #6a6a6a75);
    width: 20%;
    height: 30%;
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.tabella_pedone_promotion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.foto_ped_promotion {
    background: linear-gradient(to right, #dadada, #6a6a6a);
    width: 100%;
    aspect-ratio: 1/1;
    text-align: center;
    justify-content: center;
    border: calc(var(--cell-size) * 0.03) solid black;
    position: relative;
    padding: 0;
    border-radius: 10px;
    vertical-align: middle;
    overflow: hidden;
    cursor: pointer;
}