/* Elenco delle classi CSS in questo file:

 * .div_scelte - div delle scelte
 * .tabella_pedone_promotion - tabella delle pedine
 * .foto_ped_promotion - foto delle pedine
 */

.div_scelte {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: linear-gradient(to right, #dadadadc, #6a6a6adc);
    width: 20%;
    height: 30%;
    z-index: 3;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.tabella_pedone_promotion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.foto_ped_promotion {
    background: linear-gradient(to right, #dadada, #6a6a6a);
    width: 80%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    position: relative;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    margin: 0 auto;
}