:root {
    --grid-size: 33.5vw !important;
    --cell-size: calc(var(--grid-size) / 6);
    --draft-width: calc(var(--grid-size) * 0.58);
}

/*stile div padre di scacchiera*/
.grid-container {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--grid-size) !important;
    height: var(--grid-size) !important;
    box-shadow: 0.9375rem 0.9375rem 0.9375rem rgba(15, 12, 12, 0.5);
}

/*stile tabella class = 'scacchiera'*/
.scacchiera {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--grid-size) !important;
    height: var(--grid-size) !important;
    table-layout: fixed;
    border-radius: 0.625rem;
    transition: box-shadow 0.5s ease;
}

table {
    border-collapse: collapse;
    border: 0.125rem solid black;
}

/*stili celle scacchiera*/
.greencell {
    background-color: rgb(116, 172, 116);
}

.creamcell {
    background-color: #f5deb3;
}

.greencell, .creamcell {
    transition: background-color 0.5s ease;
    width: var(--cell-size);
    height: var(--cell-size);
    text-align: center;
    justify-content: center;
    border: 0.125rem solid black;
}

/*colore cella pedina selezionata*/
.highlighted {
    background-color: yellow;
}

.grid-container, .tooltip, .table_draft_dx, .table_draft_sx, .condition-container, .timer-container {
    box-shadow: 0.9375rem 0.9375rem 0.9375rem rgba(15, 12, 12, 0.5);
}