/* Elenco delle classi CSS in questo file:

 * .grid-container - contenitore della griglia
 * .scacchiera - tabella class = 'scacchiera'
 * .greencell - cella verde
 * .creamcell - cella crema
 * .highlighted - cella evidenziata
 */

/*stile div padre di scacchiera*/
.grid-container {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--grid-size);
    height: var(--grid-size);
    aspect-ratio: 1;
    box-shadow: 0.9375rem 0.9375rem 0.9375rem rgba(15, 12, 12, 0.5);
}

/*stile tabella class = 'scacchiera'*/
.scacchiera {
    position: absolute;
    table-layout: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(var(--grid-size));
    height: calc(var(--grid-size));
    aspect-ratio: 1;
    border-radius: 0.625rem;
    transition: box-shadow 0.5s ease;
}

/*stili celle scacchiera*/
.greencell {
    background-color: rgb(116, 172, 116);
}

.creamcell {
    background-color: #f5deb3;
}

.greencell, .creamcell {
    transition: background-color 0.5s ease;
    width: calc(100% / 6);
    height: calc(100% / 6);
    aspect-ratio: 1;
    text-align: center;
    justify-content: center;
    border: 0.125rem solid black;
    padding: 0;
}

/*colore cella pedina selezionata*/
.highlighted {
    background-color: yellow;
}