:root {
    --grid-size: 31.25vw;
    --draft-width: calc(var(--grid-size) * 0.58);
}

/*stile tabelle per il draft*/
.table_draft_dx, .table_draft_sx {
    position: absolute;
    top: 50%;
    width: var(--draft-width);
    height: var(--grid-size);
    border: 0.0625rem solid black;
    box-shadow: 0.9375rem 0.9375rem 0.9375rem rgba(15, 12, 12, 0.5);
}

.table_draft_dx {
    left: 50%;
    transform: translate(100%, -50%);
}

.table_draft_sx {
    left: 50%;
    transform: translate(-200%, -50%);
}

.draftcell {
    background-color: #6b6a6a;
    width: 5rem;
    height: 5rem;
    text-align: center;
    justify-content: center;
    border: 0.125rem solid black;
}