/* Elenco delle classi CSS in questo file:

 * .table_draft_dx - tabelle per il draft
 * .table_draft_sx - tabelle per il draft
 * .tr-ombrata - riga ombrata
 * .foto_draftcell - cella per l'immagine del calciatore
 * .info_draftcell - cella per le informazioni del calciatore
 * .santino-container - contenitore per l'immagine del calciatore
 * .santino - immagine del calciatore
 * .santino:hover - hover dell'immagine del calciatore
 */


.table_draft_dx, .table_draft_sx {
    position: absolute;
    table-layout: fixed;
    top: 50%;
    width: calc(var(--grid-size) * 0.4);
    height: calc(var(--grid-size) * 0.65);
    max-width: 30vw;
    max-height: 85%;
    border-spacing: 0;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-50%);
}

.table_draft_dx {
    right: 6%;
    border: 0;
}

.table_draft_sx {
    left: 6%;
    border: 0;
}

/* Posiziono specificatamente la tabella per avere spazio per il bottone in alto */
.table_draft_dx table, .table_draft_sx table {
    width: 100%;
    height: 90%;
    border-collapse: separate;
    border-spacing: 0 8px; /* spazio verticale tra righe */
    border: 0;
    display: table;
    position: relative;
    max-height: 95%;
    table-layout: fixed;
    overflow-y: auto;
    top: 0;
}

.table_draft_dx table tr:not(:last-child),
.table_draft_sx table tr:not(:last-child) {
    border: 2px solid #000;
    border: 2px solid black;
    border-radius: 12px;
    border-radius: 10px;
}

.table_draft_dx table td,
.table_draft_sx table td {
    border: 1px solid #000;
}

/* Aggiungo stile per il container tbody */
.table_draft_dx table tbody, .table_draft_sx table tbody {
    display: table-row-group;
    height: 100%;
}

/* Stile per le righe con ombre */
.tr-ombrata {
    cursor: default;
    height: 30%;
    width: 100%;
    display: table-row;
    vertical-align: middle;
    box-sizing: border-box;
    transition: all 0.2s ease;
    position: relative;
    margin-bottom: 2%;
}

.tr-ombrata:last-child {
    margin-bottom: 0;
}

.foto_draftcell {
    background-color: #000000;
    width: 35%;
    height: 100%;
    text-align: center;
    justify-content: center;
    border: calc(var(--cell-size) * 0.03) solid black;
    /* border-right: calc(var(--cell-size) * 0.03) solid black; */
    position: relative;
    padding: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    vertical-align: middle;
    aspect-ratio: 3/4;
    overflow: hidden;
}

.info_draftcell {
    background-color: #c1c1c1;
    width: 65%;
    height: 100%;
    text-align: center;
    justify-content: center;
    border: calc(var(--cell-size) * 0.03) solid black;
    border-left: 0;
    position: relative;
    padding: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
}

.santino-container {
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    min-height: calc(var(--grid-size) * 0.05);
}

/* immagine calciatore */
.santino {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
    position: relative;
    transition: transform 0.3s ease;
    object-fit: contain;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: grab;
}

.santino:hover {
    transform: scale(1.04);
}

.nome-giocatore {
    font-size: calc(var(--cell-size) * 0.22);
    font-weight: bold;
    color: #000000;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    padding-bottom: 22%;
}