/* Elenco delle classi CSS in questo file:

  * .foto_draftcell - cella per l'immagine del calciatore
 * .info_draftcell - cella per le informazioni del calciatore
 * .santino-container - contenitore per l'immagine del calciatore
 * .santino - immagine del calciatore
 * .santino:hover - hover dell'immagine del calciatore
 * .nome-giocatore - nome del calciatore
 */


 .sezione_sx, .sezione_dx{
    z-index: 1000;
    position: absolute;
    height: 100%;
    width: 18%;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3%;
}

.sezione_sx{
    left: 0;   
    
}

.sezione_dx{
    right: 0;
}

.tabella_draft{
    width: 90%;
    aspect-ratio: 1/1.3;
    border: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3%;
    top: 0;
    
}

/* Tabella come grid container */
/* .table_draft_dx table, .table_draft_sx table {
    width: 100%;
    height: 70%;
    border: 0;
    position: relative;
    top: 0;
    display: grid;
    grid-template-rows: repeat(3, 1fr); /* Tre righe di uguale altezza 
    gap: 8px;  Spazio tra le righe 
}

/* Rimuovo il tbody perché non necessario in un grid layout 
.table_draft_dx table tbody, .table_draft_sx table tbody {
    display: contents; /* Permette di distribuire i figli del tbody nella griglia 
} 

/* Stile per le righe con ombre - ora ciascuna riga è un grid element */
.riga_draft {
    transition: all 0.2s ease;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.foto_draftcell {
    background-color: #000000;
    text-align: center;
    justify-content: center;
    border: 2px solid black;
    position: relative;
    padding: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    height: 100%;
    margin:0;
    width: 30%;
}

.info_draftcell {
    background-color: #c1c1c1;
    text-align: center;
    justify-content: center;
    border: 2px solid black;
    border-left: 0;
    position: relative;
    padding: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100%;
    width: 70%;
    overflow-y: hidden;
}

/* immagine calciatore */
.santino-dx, .santino-sx {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    transition: transform 0.3s ease;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: grab;
}

.santino-dx:hover, .santino-sx:hover {
    transform: scale(1.04);
}

.lista-info{
    padding: 0
}

