
.bacheca {
    position: relative;
    width: 70%;
    border: calc(0.2vw + 0.2vh) solid var(--color-crema);
    margin-top: 5vh;
    background-image: url(../images/bacheche/texture_legno.png);
    background-repeat: repeat;
    background-color: rgba(255, 255, 255, 0.5); /* sfondo bianco semitrasparente sopra la texture */
    box-shadow: calc(0.2vw + 0.2vh) calc(0.2vw + 0.2vh) calc(0.2vw + 0.2vh) rgba(245, 222, 179, 0.6);
    animation: glow 2s infinite alternate;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 5vh;
}

.riga-bacheca {
    transition: all 0.2s ease;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: calc(0.5vw + 0.5vh);
    width: 80%;
    aspect-ratio: 16/4.5;
    gap: 5%;
}

.campo-foto{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    object-fit: cover;
    width: 21.6%;
    height: 100%;
}

.foto-calciatore{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: calc(0.5vw + 0.5vh);
    border-bottom-left-radius: calc(0.5vw + 0.5vh);
}

.campo-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 30%;
}

.no-result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    height:100%;
    box-shadow: none;
}

.informazioni{
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.title-ruolo {
    text-align: center;
    font-weight: bold;
    margin: 0;
    margin-top: 3vh;
    color: var(--color-crema);
    -webkit-text-stroke: 0.05rem black;
    font-family: 'Georgia', serif;
    letter-spacing: 0.125rem;
    background: linear-gradient(to right, #efe0c4, #e8c481);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: calc(3vh + 2vw) !important;
    text-shadow: 1px 5px 10px black;
}



