.log-mangiata{
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 25%;    
    background-color: rgb(255, 255, 255);
    z-index: 9999;
    border-radius: 10px;
    border: 0.1vw solid black;
}

.div-log{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    aspect-ratio: 1/1;
    background: rgba(255, 255, 255, 0);
    bottom: 0;
    z-index: 1000000;
    border-radius: 10px;
}

.div-log img{
    width: 60%;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

.div-log p{
    font-size: calc(0.1vh + 1vw);
    font-weight: bold;
    margin: 0;
    text-decoration: none;
    text-align: center;
    background: transparent;
}