.div-profilo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2%;
    width: 16vw;
    height: 22vh;
    background-color: #c1c1c1;
    display: flex;
    border-radius: 10px;
    border: 2px solid black;
}

.close-profilo{
    position: absolute;
    top: 4%;
    width: 8%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    cursor: pointer;
}

.overlay{
    width: var(--game-width);
    height: var(--game-height);
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1200;
}

.popup-gameover{
    position: absolute;
    height: 30%;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vh;
    font-weight: bold;
    font-family: 'Georgia', serif;
    text-align: center;
    background: linear-gradient(to right, #dadada, #6a6a6a);
    border: 2px solid #000000;
    z-index: 10000;
    transition: all 0.3s ease;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.bottoni-gameover-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40%;
    width: 100%;
    align-items: center;
    pointer-events: auto;
    gap: 2%;
    margin-bottom: 5%;
}

.button-gameover{
    width: 40%;
    height: 100%;
}

.title-gameover{
    font-size: calc(1.2vh + 1.2vw);
    font-weight: bold;
    margin-bottom: 0;
}

.text-gameover{
    font-size: calc(1vh + 1vw);
    margin-top:0;
}